my_data.csv
My_data.csv
testing_3.0_my_data.txt
out_objects/
plot.png
plot2.png
.DS_store
jl_*/
*.aux
*.log
*.tex
.localized
Doc1_GettingStarted.aux
Doc1_GettingStarted.log
Doc1_GettingStarted.out
Doc1_GettingStarted.tex
Doc2_BasicJuliaCommands.aux
Doc2_BasicJuliaCommands.log
Doc2_BasicJuliaCommands.out
Doc2_BasicJuliaCommands.tex
Doc3_DiffEqs.aux
Doc3_DiffEqs.log
Doc3_DiffEqs.out
Doc3_DiffEqs.tex
Doc4_BioEnergeticFoodWebs.aux
Doc4_BioEnergeticFoodWebs.log
Doc4_BioEnergeticFoodWebs.out
Doc4_BioEnergeticFoodWebs.tex
testing_Atlantic cod_rates.txt
